@tailwind base;
@tailwind components;
@tailwind utilities;




/* Hide scrollbar for Webkit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1024px) {
  
  .swiper-wrapper{
    margin-left: 6%;
  }
}

@layer utilities {
  .bg-light{
    background-color: #e6e7ff;
  }
  .bg-dark{
    background-color: #01044b;
  }
  .text-light{
    color: #b4b7fe;
  }
  .text-dark{
    color: #01044b;
  }
  .bg-medium-light{
    background-color: #5056fc;
  }
  .bg-medium,.border-medium{
    background-color: #1e26fb;
  }
}






  