@tailwind base;
@tailwind components;
@tailwind utilities;




/* Hide scrollbar for Webkit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1024px) {
  
  .swiper-wrapper{
    margin-left: 6%;
  }
}

  