@tailwind base;
@tailwind components;
@tailwind utilities;




/* Hide scrollbar for Webkit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

@media  (min-width: 1285px ) {

  .swiper-wrapper{
    margin-left: 4%;
  }
}

@media  (max-width: 1200px ) {

  .swiper-wrapper{
    margin-left: 10%;
  }
}

@media  (max-width: 900px ) {

  .swiper-wrapper{
    margin-left: 1%;
  }
}

@layer utilities {
  .bg-light{
    background-color: #e6e7ff;
  }
  .bg-dark{
    background-color: #02077d;
  }
  .text-light{
    color: #8286fd;
  }
  .text-dark{
    color: #01044b;
  }
  .bg-medium-light{
    background-color: #5056fc;
  }
  .bg-medium,.border-medium{
    background-color: #1e26fb;
  }
}










  